<ng-container *ngIf="vm$ | async as vm">
    <form action="" [formGroup]="form" (submit)="updateQuestion()">
        <div class="grid">
            <div class="col-6">
                <input class="p-inputtext-sm" type="text" placeholder="First Value" formControlName="firstValue" pInputText>
            </div>
            <div class="col-6">
                <input class="p-inputtext-sm" type="text" placeholder="Second Value" formControlName="secondValue" pInputText>
            </div>
            <div class="col-6">
                <input class="p-inputtext-sm" type="text" placeholder="First Value Collocation" formControlName="firstValueCollocation" pInputText>
            </div>
            <div class="col-6">
                <input class="p-inputtext-sm" type="text" placeholder="Second Value Collocation" formControlName="secondValueCollocation" pInputText>
            </div>
            <div class="col-6">
                <input class="p-inputtext-sm" type="text" placeholder="First Value Usage" formControlName="firstValueUsage" pInputText>
            </div>
            <div class="col-6">
                <input class="p-inputtext-sm" type="text" placeholder="Second Value Usage" formControlName="secondValueUsage" pInputText>
            </div>
            <div class="col-6"></div>
            <div class="col-6 form-buttons flex justify-content-end">
                <button pButton type="submit" class="p-button-sm" label="Save" [loading]="vm.processing"></button>
            </div>
        </div>
    </form>
</ng-container>