<main>
    <ng-container *ngIf="isLogged$ | async">
        <qis-header></qis-header>
    </ng-container>


    <ng-container *ngIf="isLogged$ | async">
        <qis-aside>
            <a *qisAsideLink href="#" [routerLink]="['/', 'dashboard']"><i class="pi pi-home"></i>Home</a>
            <a *qisAsideLink href="#" [routerLink]="['/', 'sets']"><i class="pi pi-database"></i>Sets</a>
            <a *qisAsideLink href="#" [routerLink]="['/', 'lesson']"><i class="pi pi-star"></i>Lessons</a>
        </qis-aside>
    </ng-container>

    <section>
        <router-outlet></router-outlet>
    </section>
</main>